# Activate plugins listed by `asdf current`
use asdf

export EVISION_PREFER_PRECOMPILED=true

[[ -f .exports ]] \
    && source .exports

# 💡To trust this file run
#
# $ asdf exec direnv allow .envrc
#
